body {
	background-image: url(../images/background.jpg);
	background-size: cover;
}

.container {
	background-color: teal;
	margin: auto;
	text-align: center;
	width: 80%;
	height: 1000px;
}

#title {
	margin: 20px;
}

#time-remaining {
	font-size: 25px;
}